:root {
    --ff: Arial, Helvetica, sans-serif;
    --h1: bold 80px/96px var(--ff);
    --h2: bold 40px/48px var(--ff);
    --h3: bold 24px/32px var(--ff);
    --p: 20px/28px var(--ff);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light {
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);
    --hover: hsl(0, 0%, 90%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);
}

.dark {
    --bg-dark: hsl(0, 0%, 2%);
    --bg: hsl(0, 0%, 5%);
    --bg-light: hsl(0, 0%, 10%);
    --hover: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);
}

body {
    background-color: var(--bg-dark);
    justify-items: center;
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
}

h3 {
    font: var(--h3);
}

p {
    font: var(--p);
}

a {
    color: var(--text);
    text-decoration: none;
}



/************* HEADER ************/
header {
    width: 100%;
}

/************* navbar ************/
.nav-container {
    background-color: var(--bg);
    padding: 1.5rem 1rem 1.5rem 1rem;
    box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
    font: var(--h3);
    justify-items: center;
}

.nav-container .nav-wrapper {
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-container .nav-wrapper .nav-links-container {
    display: flex;
    flex-direction: row;
}

.nav-container .nav-wrapper .nav-links-container .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-container .nav-wrapper .nav-links-container button {
    background-color: transparent;
    padding: 14px;
    /* decrease the margin to center the button cuz we add the padding */
    margin: -10px 0 -10px 1rem;
    border: none;
    cursor: pointer;
}

.nav-container .nav-wrapper .nav-links-container button:hover {
    border-radius: 8px;
    background-color: var(--hover);
}

.nav-container .nav-wrapper .nav-links-container .nav-links li {
    margin: 0;
    padding: 0;
}

.nav-container .nav-wrapper .nav-links-container .nav-links li a {
    color: var(--text-muted);
}

.nav-container .nav-wrapper .nav-links-container .nav-links li a:hover {
    color: var(--text);
}



/************* MAIN ************/
main {
    border: red solid;
}

/************* hero section ************/
.hero {
    border: blue solid;
    max-width: 1440px;
}

.hero .hero-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.hero .hero-wrapper .hero-content {
    color: var(--text);
}

.hero .hero-wrapper .hero-img {
    height: 400px;
}

.hero .hero-wrapper .hero-img img {
    border-radius: 8px;
}

/************* about section ************/
.about {
    max-width: 1440px;
    border: blue solid;
}

.about .about-wrapper {
    display: flex;
}

/************* skills section ************/
.skills {
    max-width: 1440px;
}