html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --ff: Arial, Helvetica, sans-serif;
    --h1: bold 60px/66px var(--ff);
    --h2: bold 40px/52px var(--ff);
    --h3: bold 20px/30px var(--ff);
    --p: 16px/24px var(--ff);
    --bg-dark: hsl(0, 0%, 90%);
    --bg: hsl(0, 0%, 95%);
    --bg-light: hsl(0, 0%, 100%);
    --hover: hsl(0, 0%, 90%);
    --accent: hsl(130, 60%, 60%);
    --text: hsl(0, 0%, 5%);
    --text-muted: hsl(0, 0%, 30%);
}


.dark {
    --bg-dark: hsl(0, 0%, 7%);
    --bg: hsl(0, 0%, 13%);
    --bg-light: hsl(0, 0%, 19%);
    --hover: hsl(0, 0%, 10%);
    --text: hsl(0, 0%, 95%);
    --text-muted: hsl(0, 0%, 70%);
}

body {
    font: var(--ff);
    background-color: var(--bg-dark);
    justify-items: center;
}

body section {
    margin-top: 120px;
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
}

h3 {
    font: var(--h3);
}

p {
    font: var(--p);
}

a {
    color: var(--text);
    text-decoration: none;
}



/************* HEADER ************/
header {
    width: 100%;
    top: 0;
    position: sticky;
}

/************* navbar ************/
.nav-container {
    background-color: var(--bg);
    padding: 1.5rem 1rem 1.5rem 1rem;
    box-shadow: 0px 4px 4px #00000030, 0px 12px 12px #00000015;
    font: var(--h3);
    justify-items: center;
}

.nav-container .nav-wrapper {
    max-width: 1440px;
    width: 100%;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}

.nav-container .nav-wrapper .nav-links-container {
    display: flex;
    flex-direction: row;
}

.nav-container .nav-wrapper .nav-links-container .nav-links {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.nav-container .nav-wrapper .nav-links-container .nav-links li {
    margin: 0;
    padding: 0;
}

.nav-container .nav-wrapper .nav-links-container .nav-links li a {
    color: var(--text-muted);
    font-size: 14px;
}

.nav-container .nav-wrapper .nav-links-container .nav-links li a:hover {
    color: var(--text);
}

.nav-container .nav-wrapper .nav-links-container button {
    background-color: transparent;
    padding: 14px;
    /* decrease the margin to center the button cuz we add the padding */
    margin: -10px 0 -10px 1rem;
    border: none;
    cursor: pointer;
}

.nav-container .nav-wrapper .nav-links-container button:hover {
    border-radius: 8px;
    background-color: var(--hover);
}


/************* MAIN ************/
main {
    border: red solid;
}

/************* hero section ************/
.hero {
    border: blue solid;
    max-width: 1440px;
}

.hero .hero-wrapper {
    display: flex;
    justify-content: space-between;
}

.hero .hero-wrapper .hero-content {
    color: var(--text);
}

.hero .hero-wrapper .hero-content span {
    color: var(--accent);
}

.hero .hero-wrapper .hero-content .description {
    margin-top: 12px;
    color: var(--text-muted);
}

.hero .hero-wrapper .hero-content a {
    margin-top: 24px;
    text-decoration: none;
    display: inline-block;
    color: hsl(0, 0%, 5%);
    background-color: var(--accent);
    border-radius: 8px;
    font: var(--p);
    padding: 12px 24px;
    font-weight: bold;
}

.hero .hero-wrapper .hero-img {
    height: 480px;
}

.hero .hero-wrapper .hero-img img {
    border-radius: 8px;
    object-fit: cover;
}

/************* about me section ************/
.about {
    max-width: 1440px;
    border: blue solid;
    color: var(--text);
}

.about h2 {
    text-align: center;
    margin-bottom: 40px;
}

.about .about-wrapper {
    display: flex;
    justify-content: space-between;
}

.about .about-wrapper .intro {
    width: 400px;
    background-color: var(--bg);
    padding: 20px;
    border-radius: 8px;
}

.about .about-wrapper .intro .intro-heading h3 {
    display: inline-block;
    background-color: var(--bg-light);
    padding: 10px 20px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.about .about-wrapper .profile {
    margin: 0 0 0 0;
    justify-items: center;
    align-content: center;
}

.about .about-wrapper .profile .profile-img img {
    object-fit: cover;
    object-position: top;
    border-radius: 8px;
}

.about .about-wrapper .profile h3 {
    text-align: center;
}

.about .about-wrapper .profile p {
    color: var(--text-muted);
    text-align: center;
}

.about .about-wrapper .education {
    margin: 0 0 0 0;
    background-color: var(--bg);
    padding: 20px;
    border-radius: 8px;
}

.about .about-wrapper .education .education-heading h3 {
    display: inline-block;
    background-color: var(--bg-light);
    padding: 10px 20px;
    margin-bottom: 16px;
    border-radius: 8px;
}

.about .about-wrapper .education .muted {
    color: var(--text-muted);
    font-size: 14px;
}

.about .about-wrapper .education .uni {
    margin-bottom: 40px;
}

.about .about-wrapper .education {
    font-weight: bold;
}

.about .about-wrapper .education .year {
    font-weight: bold;
}





/************* skills section ************/
.skills {
    max-width: 1440px;
    justify-items: center;
}

.skills .skills-card-container {
    /* margin: 40px 10px 0 10px; */
    display: flex;
    justify-content: center;
    justify-items: center;
    /* justify-content: left; */
    gap: 20px;
    flex-wrap: wrap;
}

.skills .skills-card-container .skills-card {
    width: 160px;
    height: 160px;
    border: blue solid;
    background-color: var(--bg);
    display: flex;
    flex-direction: column;
}

.skills .skills-card-container .skills-card img {
    margin: auto auto;
    width: 60px;
    height: 60px;
}

.skills .skills-card-container .skills-card p {
    margin: auto auto;
}